@CHARSET "UTF-8";

.content-table {border: 1px solid black; padding: 10px; margin-left: -35px; margin-top: 20px;}
.content-table-div-left {border: 1px solid black; width: 200px; height: 150; padding: 5px; overflow: hidden;}
.content-table-div-left img {max-width: 100%; height: auto;}

.content-table-div-right {border: 1px solid black; height: 140; width: 500px; padding: 10px; overflow: auto;}

#ul-material li {list-style: none;}
.list {margin-left: 10px; color: #FFFFFF; margin-right: 5px;}
.listtd {margin-left: 10px; color: #FFFFFF; background-color: red}
.button {color: #FFFFFF; background-color: red; width: 70px; height: 30px; font-size: 15px;}
.list-li {font-size: 22px; display: inline;}
.active a:visited {color: #ff0000; text-decoration:none; font-weight: bolder;}